body{
	cursor:default;
}

div.container{
	min-width:700px; /* 510px */
}

div.banner{
	text-align: center;
	font-size: 20px;
	margin: 30px 0 20px;

		
}



div.banner h1{
	margin: 0;
	font-size: 60px;
	font-weight: bold;
}

div.jumbotron{
	margin-top: 0;
	height: auto;
	width: auto;
	background-color: rgba(255, 255, 255, 0.3);
	padding:20px !important;

}

img#login-title{
	width: 100%;
	height: auto;
	margin-bottom: 15px;
	margin-top: 30px;

}

#login-search input.search-input{
	float: left;
	width:85%;
}

#login-search input.search-btn{
	float:right;
	width:14%;
}

div#register-form-box{
	margin-top: 20px;

}

div#login-form-box{
	margin-top: 50px;

}

div#register-form-box{
	float: left;
	width: 45%;
	
}

div#login-form-box{
	float: right;
	width: 45%;
}

div#register-form-box h2{
	color: #fff;
	margin-top: 0;
	font-family: Century Gothic;
}

form#register-form .form-group{
	margin: 5px 0 7px;

}


.adj-form :first-child{
	margin-top: 7px;
	float: left;

}

.adj-form :nth-child(2){
	margin-top: 7px;
	float: right;

}

.adj-form :nth-child(3){
	margin-top: 7px;
	float: left;

}

.adj-form :nth-child(4){
	margin-top: 7px;
	float: left;

}
.adj-form :nth-child(5){
	margin-top: 7px;
	float: left;

}




form#register-form :nth-child(3) :first-child {
	margin-top: 7px;
	width: 100%;

}

form#register-form :nth-child(3) :nth-child(2) {
	margin-top: 7px;
	width: 100%;

}
form#register-form :nth-child(3) :nth-child(3) {
	margin-top: 7px;
	width: 100%;

}
form#register-form :nth-child(3) :nth-child(4) {
	margin-top: 7px;
	width: 100%;

}
form#register-form :nth-child(3) :nth-child(5) {
	margin-top: 7px;
	width: 100%;


}



input#register-btn, input#login-btn{
	float: left;
	width: 30%;
}


