body{
	cursor:default;
}

div.container{
	min-width: 510px;
}

div.banner{
	text-align: center;
	font-size: 20px;
	margin: 100px 0 20px;
		
}

div.banner h1{
	margin: 0;
	font-size: 60px;
	font-weight: bold;
}

div.jumbotron{
	margin-top: 0;
	height: auto;
	background-color: rgba(255, 255, 255, 0.15);
	padding:20px !important;

}

img#login-title{
	width: 100%;
	height: auto;
	margin-bottom: 15px;

}

#login-search input.search-input{
	float: left;
	width:85%;
}

#login-search input.search-btn{
	float:right;
	width:14%;
}

div#register-form-box, div#login-form-box{
	margin-top: 20px;

}

div#register-form-box{
	float: left;
	width: 45%;
	
}

div#login-form-box{
	float: right;
	width: 45%;
}

div#register-form-box h2{
	color: #fff;
	margin-top: 0;
	font-family: Century Gothic;
}

form#register-form .form-group{
	margin: 5px 0 7px;

}


.adj-form :first-child{
	float: left;

}

.adj-form :nth-child(2){
	float: right;

}

input.adj-input{
	width: 49%;

}

form#register-form :nth-child(3) :first-child {
	width: 32%;

}

form#register-form :nth-child(3) :nth-child(2) {
	width: 66%;

}

input#register-btn, input#login-btn{
	float: right;
	width: 30%;
}


