
form#register-form .form-group{
	margin: 5px 0 7px;

}

form#register-form :nth-child(1) :first-child {
	width: 36%; 

}


.adj-form :first-child{
	float: left;
	width: 18%;

}

.adj-form :nth-child(2){
	float: left;
	width: 18%;

}



form#register-form :nth-child(3) :first-child {
	width: 36%; 

}

input#register-btn{
	margin-left: 90px;
}
