#mood-pie{
<<<<<<< HEAD
	width: 100%; 
=======
	width: 500px; 
>>>>>>> 6f43911c29a27dbe7133d4430f3bbf469fec4a2f
	height: 400px; 
}

#recommendation{
<<<<<<< HEAD
	width: 100%; 
=======
	width: 500px; 
>>>>>>> 6f43911c29a27dbe7133d4430f3bbf469fec4a2f
	height: 400px; 
	margin-left: 10px;
}

.list{
  float: left;
}

.list li{
  text-align: left;
  margin-left: 35px;
}

.jumbotron {
	margin-top: 15px;
    border-radius: 6px;
}

.comment-label{
	margin-top: -40px;
	margin-left: -20px;
}